#/test-classes
#/gwt-unitCache
#/war/WEB-INF/deploy
#/war/WEB-INF/classes
#/war/stoneedge3
#/war/WEB-INF/lib/datanucleus*.jar
#/war/WEB-INF/lib/geronimo*.jar
#/war/WEB-INF/lib/j*.jar
#/war/WEB-INF/lib/a*.jar
#/war/WEB-INF/lib/gwt-servlet.jar
#/war/WEB-INF/lib/gwt-visualization.jar
#/war/WEB-INF/lib/jdo-api-3.0.1.jar
#/StoneEdge3.war
#/.settings/
#/.gwt/
