/test-classes
/gwt-unitCache
/war/WEB-INF/deploy
/war/WEB-INF/classes
/war/stoneedgeivgwt
/war/WEB-INF/lib/appengine*.jar
/war/WEB-INF/lib/datanucleus*.jar
/war/WEB-INF/lib/geronimo*.jar
/war/WEB-INF/lib/j*.jar
/war/WEB-INF/lib/a*.jar
/war/WEB-INF/lib/gwt-servlet.jar
/war/*-tcpbrokershiftrio1883
/*-tcpbrokershiftrio1883
/.settings/com.google.appengine.eclipse.core.prefs
/*.war
/bin/
/.settings/
/.gwt/